body {
  margin: 0;
  font-weight: lighter;
  font-family: 'Bebas Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('file:///C:/Users/chimo/gaming-store/src/images/shop3.jpg');

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}